html, body {
    height: 100%;
    margin: 0; /* Remove margens padrão */
    overflow: auto; /* Permite a rolagem se necessário */
}

.loginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    background-color: #0d0c13; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.loginLogo {
    width: 100px; /* Ajuste o tamanho da logo */
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.formGroup {
    margin-bottom: 1.2rem;
    text-align: left;
}

.formGroup label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.formGroup input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    color: #fff;
    font-size: 1rem;
}

.formGroup input::placeholder {
    color: #888;
}

.formOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.formOptions input {
    margin-right: 0.5rem;
}

.forgotPassword {
    color: #888;
    text-decoration: none;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.loginButton {
    width: 100%;
    padding: 0.8rem;
    background-color: #a633f7; /* Botão roxo */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.loginButton:hover {
    background-color: #9229d3; /* Cor mais escura ao passar o mouse */
}

.cadastrar {
    color: #888;
    text-decoration: none;
}
